﻿
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/_Layout1.cshtml";
}
        <section class="main">
            <div class="layer">

                <div class="bottom-grid">
                    <div class="logo">
                        <h1> <a href="index.html"><span class="fa fa-key"></span> AuthKey</a></h1>
                    </div>
                    <div class="links">
                        <ul class="links-unordered-list">
                            <li class="active">
                                <a href="#" class="">Login</a>
                            </li>
                            <li class="">
                                <a href="#" class="">Register</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="content-w3ls">
                    <div class="text-center icon">
                        <span class="fa fa-key"></span>
                    </div>
                    <div class="content-bottom">
                        <form action="Verify" method="post">
                            <div class="field-group">
                                <span class="fa fa-user" aria-hidden="true"></span>
                                <div class="wthree-field"> 
                                    <input name="Username" id="text1" type="text" value="" placeholder="Username" required>
                                </div>
                            </div>
                            <div class="field-group">
                                <span class="fa fa-lock" aria-hidden="true"></span>
                                <div class="wthree-field">
                                    <input name="Password" id="myInput" type="Password" placeholder="Password">
                                </div>
                            </div>
                            <div class="wthree-field">
                                <button type="submit" class="btn">Login</button>
                            </div>
                            <ul class="list-login">
                                <li class="switch-agileits">
                                    <label class="switch">
                                        <input type="checkbox">
                                        <span class="slider round"></span>
                                        keep Logged in
                                    </label>
                                </li>
                                <li>
                                    <a href="#" class="text-right">forgot password?</a>
                                </li>
                                <li class="clearfix"></li>
                            </ul>
                            <ul class="list-login-bottom">
                                <li class="">
                                    <a href="#" class="">Create Account</a>
                                </li>
                                <li class="">
                                    <a href="#" class="text-right">Need Help?</a>
                                </li>
                                <li class="clearfix"></li>
                            </ul>
                        </form>
                    </div>
                </div>
                <div class="bottom-grid1">
                    <div class="links">
                        <ul class="links-unordered-list">
                            <li class="">
                                <a href="#" class="">About Us</a>
                            </li>
                            <li class="">
                                <a href="#" class="">Privacy Policy</a>
                            </li>
                            <li class="">
                                <a href="#" class="">Terms of Use</a>
                            </li>
                        </ul>
                    </div>
                    <div class="copyright">
                        <p>
                            © 2020 Key. All rights reserved | BEZAO Task
                        </p>
                    </div>
                </div>
            </div>
        </section>

